In [1]:
import os
os.chdir("..")
import pandas as pd

outcomes = pd.read_csv("data/outcomes_concat.csv")
stns = pd.read_csv("data/stop_and_search_concat.csv")
street = pd.read_csv("data/street_concat.csv")

/tmp/ipykernel_5298/1038986988.py:6: DtypeWarning: Columns (12) have mixed types. Specify dtype option on import or set low_memory=False.
  stns = pd.read_csv("data/stop_and_search_concat.csv")
/tmp/ipykernel_5298/1038986988.py:7: DtypeWarning: Columns (1,3,11) have mixed types. Specify dtype option on import or set low_memory=False.
  street = pd.read_csv("data/street_concat.csv")

In [2]:
street = street.drop(columns=['Unnamed: 0'])
street.head()

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context
0,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,0.145949,51.593914,On or near Providence Place,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN
1,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,0.140192,51.582311,On or near Hatch Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN
2,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,0.134947,51.588063,On or near Mead Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN
3,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,0.134947,51.588063,On or near Mead Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN
4,NaN,2010-12,Metropolitan Police Service,Metropolitan Police Service,0.134947,51.588063,On or near Mead Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN

In [11]:
import re
street.loc[~street["LSOA name"].isna(), "Borough"] = street["LSOA name"].dropna().apply(lambda x: re.split("[0-9]", x)[0].strip())
london_bouroughs = ['Barking and Dagenham', 'Barnet', 'Bexley', 'Brent', 'Bromley', 'Camden', 'Croydon', 'Ealing', 'Enfield', 'Greenwich', 'Hackney', 'Hammersmith and Fulham', 'Haringey', 'Harrow', 'Havering', 'Hillingdon', 'Hounslow', 'Islington', 'Kensington and Chelsea', 'Kingston upon Thames', 'Lambeth', 'Lewisham', 'Merton', 'Newham', 'Redbridge', 'Richmond upon Thames', 'Southwark', 'Sutton', 'Tower Hamlets', 'Waltham Forest', 'Wandsworth', 'City of Westminster', 'Richmond Upon Thames']
street = street[street["Borough"].isin(london_bouroughs)]

In [12]:
asbs = street[street["Crime ID"].isna()].copy()
non_asb = street[~street["Crime ID"].isna()].copy()

In [13]:
def qmap(x):
    return (max(x, 1) -1)//3 + 1

def split_ymq(df):
    df["Year"] = df["Month"].apply(lambda x: x.split("-")[0])
    df["Month"] = df["Month"].apply(lambda x: x.split("-")[1])
    df["Quarter"] = df["Month"].apply(lambda x: qmap(int(x)))

split_ymq(non_asb)
split_ymq(asbs)

non_asb.head()

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context,Borough,Year,Quarter
1228569,d44d2e44e5ffdb23a9246a6b6437810b6142b0d25cf664...,12,Metropolitan Police Service,Metropolitan Police Service,0.135554,51.584985,On or near Rose Lane,E01000027,Barking and Dagenham 001A,Burglary,NaN,NaN,Barking and Dagenham,2011,4
1228570,a27350b5f3c9f91f082e9d4f2f72418a19ca7600e21122...,12,Metropolitan Police Service,Metropolitan Police Service,0.134947,51.588063,On or near Mead Grove,E01000027,Barking and Dagenham 001A,Burglary,NaN,NaN,Barking and Dagenham,2011,4
1228571,41da16507d675c56eff4a9fba75507b69d274536ac6bc6...,12,Metropolitan Police Service,Metropolitan Police Service,0.141143,51.590873,On or near Furze Farm Close,E01000027,Barking and Dagenham 001A,Burglary,NaN,NaN,Barking and Dagenham,2011,4
1228572,5d8fb40b2496567057345c699043e8005fbc688cf4c1bc...,12,Metropolitan Police Service,Metropolitan Police Service,0.135866,51.587336,On or near Gibbfield Close,E01000027,Barking and Dagenham 001A,Burglary,NaN,NaN,Barking and Dagenham,2011,4
1228573,709e0408bb402ab0b0358519c2766228736f7d91974729...,12,Metropolitan Police Service,Metropolitan Police Service,0.141143,51.590873,On or near Furze Farm Close,E01000027,Barking and Dagenham 001A,Criminal damage and arson,NaN,NaN,Barking and Dagenham,2011,4

In [14]:
asbs.head()

,Crime ID,Month,Reported by,Falls within,Longitude,Latitude,Location,LSOA code,LSOA name,Crime type,Last outcome category,Context,Borough,Year,Quarter
0,NaN,12,Metropolitan Police Service,Metropolitan Police Service,0.145949,51.593914,On or near Providence Place,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN,Barking and Dagenham,2010,4
1,NaN,12,Metropolitan Police Service,Metropolitan Police Service,0.140192,51.582311,On or near Hatch Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN,Barking and Dagenham,2010,4
2,NaN,12,Metropolitan Police Service,Metropolitan Police Service,0.134947,51.588063,On or near Mead Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN,Barking and Dagenham,2010,4
3,NaN,12,Metropolitan Police Service,Metropolitan Police Service,0.134947,51.588063,On or near Mead Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN,Barking and Dagenham,2010,4
4,NaN,12,Metropolitan Police Service,Metropolitan Police Service,0.134947,51.588063,On or near Mead Grove,E01000027,Barking and Dagenham 001A,Anti-social behaviour,NaN,NaN,Barking and Dagenham,2010,4

In [15]:
def count_both(df_a, df_na, x):
    as_ = df_a.groupby(["Year", x, "Borough", "Crime type"])["Location"].count()
    ns = df_na.groupby(["Year", x, "Borough", "Crime type"])["Crime ID"].unique().map(len)

    return pivot_onto_y_x_b(as_, ns, x)

def pivot_onto_y_x_b(df_a, df_na, x):
    ns = df_na.reset_index()
    a = df_a.reset_index()
    ns = ns.pivot_table(index=["Year", x, "Borough"], columns="Crime type", values="Crime ID", fill_value=0)
    a = a.pivot_table(index=["Year", x, "Borough"], columns="Crime type", values="Location", fill_value=0)
    ns.columns = [f'{col}' for col in ns.columns]
    a.columns = [f'{col}' for col in a.columns]
    ns, a = ns.align(a, axis=1, fill_value=0)
    ns = ns.add(a, fill_value=0)
    ns = ns.reset_index()
    return ns

month_crime = count_both(asbs, non_asb, "Month")
quarter_crime = count_both(asbs, non_asb, "Quarter")

In [16]:
month_crime.to_csv("data/month_crime.csv")
quarter_crime.to_csv("data/quarter_crime.csv")

In [17]:
as_ = asbs.groupby(["Year", "Month", "Borough", "Crime type"])["Location"].count()
ns = non_asb.groupby(["Year", "Month", "Borough", "Crime type"])["Crime ID"].unique().map(len)

as_.reset_index(drop=True)

0       837
1       149
2       527
3        59
4       189
       ...
7218    669
7219    219
7220    745
7221    557
7222    530
Name: Location, Length: 7223, dtype: int64

In [18]:
quarter_crime

,Year,Quarter,Borough,Anti-social behaviour,Bicycle theft,Burglary,Criminal damage and arson,Drugs,Other crime,Other theft,Possession of weapons,Public disorder and weapons,Public order,Robbery,Shoplifting,Theft from the person,Vehicle crime,Violence and sexual offences,Violent crime
0,2010,4,Barking and Dagenham,837.0,0.0,149.0,0.0,0.0,527.0,0.0,0.0,0.0,0.0,59.0,0.0,0.0,189.0,0.0,283.0
1,2010,4,Barnet,1078.0,0.0,372.0,0.0,0.0,848.0,0.0,0.0,0.0,0.0,58.0,0.0,0.0,275.0,0.0,337.0
2,2010,4,Bexley,670.0,0.0,151.0,0.0,0.0,418.0,0.0,0.0,0.0,0.0,29.0,0.0,0.0,108.0,0.0,230.0
3,2010,4,Brent,1280.0,0.0,308.0,0.0,0.0,878.0,0.0,0.0,0.0,0.0,136.0,0.0,0.0,240.0,0.0,492.0
4,2010,4,Bromley,1056.0,0.0,279.0,0.0,0.0,643.0,0.0,0.0,0.0,0.0,54.0,0.0,0.0,245.0,0.0,404.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1669,2024,1,Southwark,669.0,81.0,202.0,165.0,100.0,24.0,464.0,20.0,0.0,153.0,186.0,133.0,473.0,266.0,731.0,0.0
1670,2024,1,Sutton,219.0,6.0,62.0,134.0,31.0,12.0,102.0,7.0,0.0,72.0,22.0,93.0,27.0,153.0,419.0,0.0
1671,2024,1,Tower Hamlets,745.0,73.0,236.0,159.0,108.0,18.0,345.0,15.0,0.0,168.0,98.0,172.0,231.0,269.0,769.0,0.0
1672,2024,1,Waltham Forest,557.0,28.0,117.0,110.0,101.0,13.0,259.0,18.0,0.0,90.0,68.0,126.0,126.0,243.0,502.0,0.0
1673,2024,1,Wandsworth,530.0,53.0,186.0,162.0,77.0,25.0,265.0,9.0,0.0,134.0,89.0,155.0,65.0,303.0,598.0,0.0